.btn-item-menu {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: unset !important;
    position: absolute
}

.container-header {
    display: flex;
    align-items: center;
    grid-area: 10px;
    flex: 1;
}

.bnt-login {
    height: 50px;
    min-width: 100px;
    border: 0px !important;
    border-radius: 0px !important;
    background: #f5f5f5;
}